.container{
    margin: 5px;
    padding: 5px;
    background-color: aquamarine;
    color: black;
}
.active{
    margin: 5px;
    padding: 5px;
    background-color: black;
    color: aquamarine;
    border: 1px solid aquamarine;
}